<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189524759615-uckran8tu03ad7dlcb6qv5cso1a3auvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189524759615-uckran8tu03ad7dlcb6qv5cso1a3auvd</string>
	<key>API_KEY</key>
	<string>AIzaSyDDKJmd8PPMGQDtOUe-AIcJqZlZa87Lxnc</string>
	<key>GCM_SENDER_ID</key>
	<string>189524759615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>f.close2-3</string>
	<key>PROJECT_ID</key>
	<string>close2</string>
	<key>STORAGE_BUCKET</key>
	<string>close2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189524759615:ios:12f840f762c74af5bf548a</string>
</dict>
</plist>